CodeBase/integration-parent/pl-gateway-domain-parent/apps/facebook-system-apis/target/classes/planetloop-facebook-definition.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:context="http://www.springframework.org/schema/context" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:facebook="http://www.mulesoft.org/schema/mule/facebook" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:objectstore="http://www.mulesoft.org/schema/mule/objectstore" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/current/mule-objectstore.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/facebook http://www.mulesoft.org/schema/mule/facebook/current/mule-facebook.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <apikit:config name="planetloop-facebook-definition-config" raml="ramls/planetloop-facebook-definition.raml" consoleEnabled="false" doc:name="Router"/>
       <facebook:config-with-oauth name="Facebook" consumerKey="${facebook.system.api.client.id}" consumerSecret="${facebook.system.api.client.secret}" scope="${facebook.system.api.scope}" doc:name="Facebook: OAuth v2.0">
        <facebook:oauth-callback-config domain="${facebook.system.api.domain}" localPort="${facebook.system.api.local.port}" remotePort="${facebook.system.api.remote.port}" path="${facebook.system.api.callback.path}" />
    </facebook:config-with-oauth>
 <!--    <facebook:config-with-oauth name="Facebook" consumerKey="229148647510486" consumerSecret="c57478a97a27bc9c2bb14d4e12d1a941" scope="email,user_about_me,user_photos,user_friends,user_actions.video,user_birthday" doc:name="Facebook">
        <facebook:oauth-callback-config domain="localhost" localPort="8088" remotePort="8088" path="authorize/callback/" />
    </facebook:config-with-oauth>
  -->   <context:property-placeholder location="file:///${pl.integration.configuration.home}/pl_gateway_domain/apps-conf/facebook-system-apis-conf.properties" />
    <objectstore:config name="Facebook_ObjectStore_Configuration" doc:name="ObjectStore: Configuration" />
    <mongo:config name="Mongo_DB" database="yourdb" doc:name="Mongo DB"/>
    
    <flow name="Facebook-Authorize-Main-Flow">
        <logger message="AuthToken :  #[flowVars.authTokenId == null ? '' : flowVars.authTokenId]" level="INFO" category="Facebook" doc:name="Auth Token"/>
        <!-- <facebook:authorize config-ref="Facebook" doc:name="Facebook-Authorize" /> -->
    </flow>
    
    <flow name="planetloop-facebook-definition-main">
        <http:listener config-ref="GatewayDomainHttpListenerConfiguration" path="/facebook/*" doc:name="HTTP"/>
        <apikit:router config-ref="planetloop-facebook-definition-config" doc:name="APIkit Router"/>
        <exception-strategy ref="planetloop-facebook-definition-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="planetloop-facebook-definition-console">
        <http:listener config-ref="GatewayDomainHttpListenerConfiguration" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="planetloop-facebook-definition-config" doc:name="APIkit Console"/>
    </flow>

    <flow name="get:/authorize:planetloop-facebook-definition-config">
    	        <logger message="Facebook Authorization has been initiated for user id #[message.inboundProperties.'http.query.params'.userId]" level="INFO" doc:name="Authorize" category="Facebook" />
        <flow-ref name="Facebook-Authorize-Main-Flow" doc:name="Facebook-Authorize-Main-Flow"/>
        <facebook:authorize config-ref="Facebook" doc:name="Facebook-Authorize" />
        <set-variable variableName="userId" value="#[message.inboundProperties.'http.query.params'.userId]" doc:name="Setting UserId"/>
        <logger message="Facebook Authorization has been finished for user id #[flowVars.userId]" level="INFO" doc:name="Authorize Done" category="Facebook" />
        <choice doc:name="Is Authorization Successful ?">
            <when expression="flowVars.OAuthAccessTokenId != null">
                <logger message="Authorization of the user with user id [#[flowVars.userId]] is successful" level="INFO" doc:name="Successful Authorization" category="Facebook" />
                <objectstore:retrieve config-ref="Facebook_ObjectStore_Configuration" key="Facebook" defaultValue-ref="#['NA']" targetProperty="authTokenId" doc:name="Get Auth Token ID" />
                <logger message="Auth code for the user with user id  [#[flowVars.userId]] is [#[flowVars.authTokenId.getAccessToken()]]" level="INFO" doc:name="Auth Code Storage" category="Facebook" />
                <!-- <objectstore:store config-ref="Facebook_ObjectStore_Configuration" key="#[flowVars.userId]" value-ref="#[flowVars.authTokenId.getAccessToken()]" overwrite="true" doc:name="Saving the AuthCode" /> -->
                <objectstore:store config-ref="Facebook_ObjectStore_Configuration" key="#[flowVars.userId]" value-ref="#[flowVars.OAuthAccessTokenId]" overwrite="true" doc:name="Saving the AuthCode" />
                <set-payload value="{
  &quot;dateOfBirth&quot;: &quot;19-Nov-1990&quot;,
  &quot;memberSince&quot;: &quot;Jan 2016&quot;,
  &quot;aboutMe&quot;: &quot;et eu exercitation&quot;,
  &quot;displayName&quot;: &quot;tempor dolor&quot;,
  &quot;lastName&quot;: &quot;nulla veniam&quot;,
  &quot;address&quot;: [
   {
     &quot;city&quot;: &quot;ea pariatur commodo dolor&quot;,
     &quot;state&quot;: &quot;deserunt&quot;,
     &quot;country&quot;: &quot;consectetur dolor veniam in dolore&quot;
   },
   {
     &quot;city&quot;: &quot;anim&quot;,
     &quot;country&quot;: &quot;nostrud cillum adipisicing dolor&quot;
   }
  ],
  &quot;id&quot;: &quot;1234&quot;,
  &quot;gender&quot;: &quot;male&quot;,
  &quot;isActive&quot;: &quot;true&quot;
}" doc:name="Set Payload" />
            </when>
            <otherwise>
                <logger message="Authorization of the user with user id [#[flowVars.userId]] has failed." level="INFO" doc:name="Unsuccessful Authorization" category="Facebook" />
                <set-payload value="{&#xA;  &quot;dateOfBirth&quot;: &quot;19-Nov-1990&quot;,&#xA;  &quot;memberSince&quot;: &quot;Jan 2016&quot;,&#xA;  &quot;aboutMe&quot;: &quot;et eu exercitation&quot;,&#xA;  &quot;displayName&quot;: &quot;tempor dolor&quot;,&#xA;  &quot;lastName&quot;: &quot;nulla veniam&quot;,&#xA;  &quot;address&quot;: [&#xA;   {&#xA;     &quot;city&quot;: &quot;ea pariatur commodo dolor&quot;,&#xA;     &quot;state&quot;: &quot;deserunt&quot;,&#xA;     &quot;country&quot;: &quot;consectetur dolor veniam in dolore&quot;&#xA;   },&#xA;   {&#xA;     &quot;city&quot;: &quot;anim&quot;,&#xA;     &quot;country&quot;: &quot;nostrud cillum adipisicing dolor&quot;&#xA;   }&#xA;  ],&#xA;  &quot;id&quot;: &quot;1234&quot;,&#xA;  &quot;gender&quot;: &quot;male&quot;,&#xA;  &quot;isActive&quot;: &quot;false&quot;&#xA;}" doc:name="Set Payload" />
            </otherwise>
        </choice>
    </flow>
    <flow name="get:/recommnededVideos:planetloop-facebook-definition-config">
        <set-payload value="{&#xA; &quot;userid&quot;: &quot;1234&quot;,&#xA; &quot;videos&quot;: [&#xA;     {&#xA;       &quot;videoId&quot;: &quot;1&quot;,&#xA;       &quot;embedHtml&quot;: &quot;https://www.facebook.com/video/embed?video_id=102421750266921&quot;,&#xA;       &quot;content_category&quot;: &quot;music&quot;,&#xA;       &quot;description&quot;: &quot;Rock concert by beyonce&quot;,&#xA;       &quot;thumb&quot;: &quot;121212&quot;,&#xA;       &quot;title&quot;: &quot;Rock concert by beyonce&quot;,&#xA;       &quot;likeCounts&quot;: &quot;23&quot;,&#xA;       &quot;shareCount&quot;: &quot;12&quot;,&#xA;       &quot;uploadTimestamp&quot;: &quot;20160202121212111&quot;&#xA;     },&#xA;     {&#xA;       &quot;videoId&quot;: &quot;2&quot;,&#xA;       &quot;embedHtml&quot;: &quot;https://www.facebook.com/video/embed?video_id=10242130266921&quot;,&#xA;       &quot;content_category&quot;: &quot;news&quot;,&#xA;       &quot;description&quot;: &quot;Rock concert by beyonce&quot;,&#xA;       &quot;thumb&quot;: &quot;121212&quot;,&#xA;       &quot;title&quot;: &quot;Rock concert by beyonce&quot;,&#xA;       &quot;likeCounts&quot;: &quot;23&quot;,&#xA;       &quot;shareCount&quot;: &quot;12&quot;,&#xA;       &quot;uploadTimestamp&quot;: &quot;20160302121212111&quot;&#xA;     }&#xA;   ]&#xA; }" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/unauthorize:planetloop-facebook-definition-config">
        <set-payload value="{&#xA;  &quot;dateOfBirth&quot;: &quot;19-Nov-1990&quot;,&#xA;  &quot;memberSince&quot;: &quot;Jan 2016&quot;,&#xA;  &quot;aboutMe&quot;: &quot;et eu exercitation&quot;,&#xA;  &quot;displayName&quot;: &quot;tempor dolor&quot;,&#xA;  &quot;lastName&quot;: &quot;nulla veniam&quot;,&#xA;  &quot;address&quot;: [&#xA;   {&#xA;     &quot;city&quot;: &quot;ea pariatur commodo dolor&quot;,&#xA;     &quot;state&quot;: &quot;deserunt&quot;,&#xA;     &quot;country&quot;: &quot;consectetur dolor veniam in dolore&quot;&#xA;   },&#xA;   {&#xA;     &quot;city&quot;: &quot;anim&quot;,&#xA;     &quot;country&quot;: &quot;nostrud cillum adipisicing dolor&quot;&#xA;   }&#xA;  ],&#xA;  &quot;id&quot;: &quot;1234&quot;,&#xA;  &quot;gender&quot;: &quot;male&quot;,&#xA;  &quot;isActive&quot;: &quot;false&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/uploadedVideos:planetloop-facebook-definition-config">
        <logger message="Getting the uploaded videos for the user with user id [ #[message.inboundProperties.'http.query.params'.userId] ]" level="INFO" category="Facebook" doc:name="Start Uploaded Videos"/>
        <set-variable variableName="userId" value="#[message.inboundProperties.'http.query.params'.userId]" doc:name="Setting User Id"/>
        <objectstore:retrieve config-ref="Facebook_ObjectStore_Configuration" key="#[flowVars.userId]" defaultValue-ref="#['NA']" targetProperty="OAuthAccessTokenId" doc:name="Getting the AuthToken id"/>
        <choice doc:name="Is AuthTokenId exist ?">
            <when expression="flowVars.OAuthAccessTokenId != 'NA'">
                <logger message="AuthToken exist and authTokenId is #[flowVars.OAuthAccessTokenId]" level="INFO" category="Facebook" doc:name="AuthToken Retreival Success"/>
                <!-- <flow-ref name="Facebook-Authorize-Main-Flow" doc:name="Facebook-Authorize-Main-Flow"/> -->
                <choice doc:name="Is Authorization Successful ?">
                    <when expression="flowVars.OAuthAccessTokenId != null">
                        <logger level="INFO" category="Facebook" doc:name="Auth Successful" message="Authorization is successful"/>
                        <facebook:get-user-videos-uploaded config-ref="Facebook" fields="id, embed_html,description,metadata" until="now" user="me" doc:name="Get Uploaded Videos" since="last year"/>
                        <logger message="Return Result #[payload]" level="INFO" category="Facebook" doc:name="Return Results"/>
                    </when>
                    <otherwise>
                        <logger message="Auth is not successful from Facebook" level="INFO" category="Facebook" doc:name="Auth Unsuccessful"/>
                    </otherwise>
                </choice>
            </when>
            <otherwise>
                <logger message="AuthToken is not available." level="INFO" category="Facebook" doc:name="AuthToken Retreival Fail"/>
            </otherwise>
        </choice>
        <set-payload value="{&#xA; &quot;userid&quot;: &quot;1234&quot;,&#xA; &quot;videos&quot;: [&#xA;     {&#xA;       &quot;videoId&quot;: &quot;1&quot;,&#xA;       &quot;embedHtml&quot;: &quot;https://www.facebook.com/video/embed?video_id=102421750266921&quot;,&#xA;       &quot;content_category&quot;: &quot;music&quot;,&#xA;       &quot;description&quot;: &quot;Rock concert by beyonce&quot;,&#xA;       &quot;thumb&quot;: &quot;121212&quot;,&#xA;       &quot;title&quot;: &quot;Rock concert by beyonce&quot;,&#xA;       &quot;likeCounts&quot;: &quot;23&quot;,&#xA;       &quot;shareCount&quot;: &quot;12&quot;,&#xA;       &quot;uploadTimestamp&quot;: &quot;20160202121212111&quot;&#xA;     },&#xA;     {&#xA;       &quot;videoId&quot;: &quot;2&quot;,&#xA;       &quot;embedHtml&quot;: &quot;https://www.facebook.com/video/embed?video_id=10242130266921&quot;,&#xA;       &quot;content_category&quot;: &quot;news&quot;,&#xA;       &quot;description&quot;: &quot;Rock concert by beyonce&quot;,&#xA;       &quot;thumb&quot;: &quot;121212&quot;,&#xA;       &quot;title&quot;: &quot;Rock concert by beyonce&quot;,&#xA;       &quot;likeCounts&quot;: &quot;23&quot;,&#xA;       &quot;shareCount&quot;: &quot;12&quot;,&#xA;       &quot;uploadTimestamp&quot;: &quot;20160302121212111&quot;&#xA;     }&#xA;   ]&#xA; }" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/user:planetloop-facebook-definition-config">
        <set-payload value="{&#xA;  &quot;dateOfBirth&quot;: &quot;19-Nov-1990&quot;,&#xA;  &quot;memberSince&quot;: &quot;Jan 2016&quot;,&#xA;  &quot;aboutMe&quot;: &quot;et eu exercitation&quot;,&#xA;  &quot;displayName&quot;: &quot;tempor dolor&quot;,&#xA;  &quot;lastName&quot;: &quot;nulla veniam&quot;,&#xA;  &quot;address&quot;: [&#xA;      {&#xA;        &quot;city&quot;: &quot;ea pariatur commodo dolor&quot;,&#xA;        &quot;state&quot;: &quot;deserunt&quot;,&#xA;        &quot;country&quot;: &quot;consectetur dolor veniam in dolore&quot;&#xA;      },&#xA;      {&#xA;        &quot;city&quot;: &quot;anim&quot;,&#xA;        &quot;country&quot;: &quot;nostrud cillum adipisicing dolor&quot;&#xA;      }&#xA;  ],&#xA;  &quot;id&quot;: &quot;1234&quot;,&#xA;  &quot;gender&quot;: &quot;male&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/postVideo:planetloop-facebook-definition-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/user:application/json:planetloop-facebook-definition-config">
        <set-payload value="{&#xA;  &quot;dateOfBirth&quot;: &quot;19-Nov-1990&quot;,&#xA;  &quot;memberSince&quot;: &quot;Jan 2016&quot;,&#xA;  &quot;aboutMe&quot;: &quot;et eu exercitation&quot;,&#xA;  &quot;displayName&quot;: &quot;tempor dolor&quot;,&#xA;  &quot;lastName&quot;: &quot;nulla veniam&quot;,&#xA;  &quot;address&quot;: [&#xA;      {&#xA;        &quot;city&quot;: &quot;ea pariatur commodo dolor&quot;,&#xA;        &quot;state&quot;: &quot;deserunt&quot;,&#xA;        &quot;country&quot;: &quot;consectetur dolor veniam in dolore&quot;&#xA;      },&#xA;      {&#xA;        &quot;city&quot;: &quot;anim&quot;,&#xA;        &quot;country&quot;: &quot;nostrud cillum adipisicing dolor&quot;&#xA;      }&#xA;  ],&#xA;  &quot;id&quot;: &quot;1234&quot;,&#xA;  &quot;gender&quot;: &quot;male&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="planetloop-facebook-definition-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
