PoCs/youtubepoc/target/classes/youtubepoc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:youtube="http://www.mulesoft.org/schema/mule/youtube" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/youtube http://www.mulesoft.org/schema/mule/youtube/current/mule-youtube.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="61001" doc:name="HTTP Listener Configuration"/>
    <youtube:config name="Youtube_Configuration" clientId="clientId" clientSecret="clientSecret" doc:name="Youtube: Configuration"/>
    <flow name="youtubepocFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/searchMostPopular" allowedMethods="GET" doc:name="HTTP"/>
        <youtube:search-most-recent-videos config-ref="Youtube_Configuration" key=""  regionCode="JM"   doc:name="Youtube"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <set-payload value="{code: 200}" doc:name="Set Payload"/>
    </flow>
</mule>
